.login {
    height: calc(110vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(3, 3, 3, 0.5)
      ),
      url( "https://wp-assets.futurism.com/2018/09/Spotify-Article-Header1.png");
    background-size: cover;
  }
  
  .loginTitle {
    margin-top: 25%;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
  
  }
  
  .loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .loginForm > label {
    margin: 10px 0;
  }
  
  .loginInput {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    height:20px;
    width:550px;
  }
  
  .loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(24, 22, 22);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
  }
  
  .loginButton:disabled{
    cursor: not-allowed;
    background-color: rgb(235, 228, 228);
  }
  
  .loginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgb(22, 21, 21);
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
  }
  